In [82]:
import pandas as pd

In [83]:
#df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/5_one_hot_encoding/Exercise/carprices.csv")

In [84]:
#df.to_csv('car_prices.csv')
df=pd.read_csv("car_prices.csv")
df=df.drop('Unnamed: 0',axis='columns')

In [85]:
dummies=pd.get_dummies(df['Car Model'])

In [86]:
merged_df=pd.concat([df,dummies],axis='columns')

In [87]:
merged_df.columns

Index(['Car Model', 'Mileage', 'Sell Price($)', 'Age(yrs)', 'Audi A5',
       'BMW X5', 'Mercedez Benz C class'],
      dtype='object')

In [88]:
merged_df=merged_df.drop(['Car Model'],axis='columns')

In [89]:
merged_df=merged_df.drop(['Mercedez Benz C class'],axis='columns')

In [90]:
merged_df

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0     69000          18000         6        0       1
1     35000          34000         3        0       1
2     57000          26100         5        0       1
3     22500          40000         2        0       1
4     46000          31500         4        0       1
5     59000          29400         5        1       0
6     52000          32000         5        1       0
7     72000          19300         6        1       0
8     91000          12000         8        1       0
9     67000          22000         6        0       0
10    83000          20000         7        0       0
11    79000          21000         7        0       0
12    59000          33000         5        0       0

In [91]:
x=merged_df.drop('Sell Price($)',axis='columns')

In [92]:
y=df['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [93]:
from sklearn.linear_model import LinearRegression

In [94]:
lreg=LinearRegression()

In [95]:
lreg.fit(x,y)

LinearRegression()

In [96]:
lreg.predict([[45000,4,0,0]])

array([36991.31721061])

In [97]:
lreg.predict([[86000,7,0,1]])

array([11080.74313219])

In [98]:
lreg.score(x,y)

0.9417050937281083